---
import MainLayout from "@/layouts/MainLayout.astro";
---

<html lang="en">
  <MainLayout title="JUAMAYA ðŸº Home">
 <h1 class=" text-center text-5xl">Blog Astro</h1>

    <div class="flex justify-center mt-20">
   <img src="/assets/astro.png" alt="astro" width="400">
      </div>
     
 
    
   
  </MainLayout>
</html>
