---
import MainLayout from "@/layouts/MainLayout.astro";
---

<html lang="en">
  <MainLayout title="JUAMAYA ðŸº Home">
    <div class="relative">
      <video class="w-full" src="/assets/video.mp4" autoplay loop></video>
      <div class=" absolute top-52 left-96">
      <h1 class=" text-center text-7xl">Home Astro</h1>
    </div>
    
    </div>
  </MainLayout>
</html>
