<a
  class="text-soft-white hover:text-black hover:bg-white border-extra-soft-white inline-flex cursor-pointer items-center gap-2 self-start rounded-full border px-6 py-2 transition-colors duration-200 hover:border-purple-500"
  href="/blog"
>
  <span>&larr;</span>Back to blog
</a>
